.scenic-page {
  width: 100%;
  // overflow-y: auto;
  .content-row-container {
    &:not(:last-child) {
      padding-bottom: 10px;
    }
  }
  .preview-row {
    height: 33vw;
    display: flex;
    padding: 5px 0;
    .page-tile-container {
      flex: 1;
      min-height: 0;
      width: 200px;
      padding: 0 5px;
    }
  }
}
